$gray-main: #cacaca;
$gray-background: #f0f0f0;
$gray-line: #eaeaea;
$gray-item: #f6f6f6;
$yellow: #ffc107;
$orange: #ff8100;
$blue: #dae5f3;
$grey-border: #CCCCCC;
$deep-blue: #2d3e50;
$blue-btn: #4e6da3;
$green: #88C62f;
$white: #fff;
$total-black: #000;

//Colors theme:
$primary:  #1a237e;
$primary-dark: #000051;
$primary-light: #534bae;
$accent: #e95b28;
$accent-dark: #cc0000;
$accent-light: #ff8c55;
$black: #202020;
